/* src/Signup.css */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.signup-form {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  background: #fff0f5;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-title {
  text-align: center;
  margin-bottom: 1rem;
}

.signup-button {
  padding: 0.5rem;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.switch-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}
